@CHARSET "UTF-8";

body {
	background-image: url(../img/bg.jpg); /* Путь к фоновому изображению */
}

form {
	color: white; border-radius : 8px;
	border: 5px white;
	background: #404040; /* Цвет фона */
	padding: 20px; /* Поля вокруг текста */
	margin-top: 200px;
	margin-bottom: 0px;
	margin-right: 300px;
	margin-left: 300px;
	border-radius: 8px;
}

h1 {
	color: white;
	font-size: 40px;
}